/* header */
header {
  width: 100%;
  padding: 20px 4% 20px;
  background-color: rgb(202, 197, 192);
  top: 0;
  display: flex;
  align-items: center;
}

header h1 {
  margin: 0;
  padding: 0;
}

header h1 a {
  text-decoration: none;
  font-size: solid 1.5em;
  color: #593122;
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', 'Helvetica Neue',
    Helvetica, Arial, sans-serif;
}

header h1 a:hover {
  color: rgb(158, 179, 166);
}

nav ul a {
  text-decoration: none;
  color: #593122;
}

nav {
  margin: 0 0 0 auto;
}

nav ul {
  list-style: none;
  margin: 0;
  display: flex;
}
nav li {
  margin: 0 0 0 1em;
  font-size: 1.5em;
}

nav li.active {
  border-bottom: 3px solid #593122;
}
nav li:hover {
  color: #e7da66;
  border-bottom: 3px solid rgb(158, 179, 166);
}
